@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/variables.less";

@navy: #2b313b;
@bone: #f2f2f2;
@colour: #f68400;

@link: @colour;
@link_hover: darken(@colour, 20%);
@link_active: darken(@colour, 10%);

/*****************************************************************
*
* Style defaults
*
******************************************************************/

body {
  // background: @navy;
  // color: @bone;
  // font-size: 18px;
}

::selection {
  background: rgba(227, 80, 80, 0.5);
  color: #fff;
}

a {
  color: @colour;
}

a:hover {
  color: @link_hover;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  // margin: 10px 0;
  // font-weight: normal;
}

h2 {
  padding-bottom: 3px;
  // color: @colour;
  border-bottom: 1px solid #E8E8E8;
  font-size: 12px;
}


/*****************************************************************
*
* Angular
*
******************************************************************/

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


/*****************************************************************
*
* Head
*
******************************************************************/

.head {
  height: 400px;
  background-image: url(../img/Arch2o-Synthesis-Design-+-Architecture-SDA-51.jpg);
  background-position: center;
  background-size: cover;
}


nav {
  margin-top: -100px;
}

.navbar {
  background: none;
  border: none;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;

  img {
    height: 100px;
  }
}

.navbar-nav>li>a {
  padding: 60px 15px 20px 35px;
  color: @colour;
  font-size: 18px;

  &:hover, &:focus, &:hover {
    color: #fff;
    background: none;
  }
}

.navbar-nav>li.active>a {
  color: #fff;
}



/*****************************************************************
*
* Main
*
******************************************************************/

.thumbnail {
  border: 1px solid #fff;
}

a.thumbnail {
  &:hover {
    border-color: @colour;
  }
}

/*****************************************************************
*
* Foot
*
******************************************************************/

.foot {
  margin-top: 100px;
  padding: 50px;
  background: @navy;
  // background-image: url(../img/Arch2o-Synthesis-Design-+-Architecture-SDA-51.jpg);
  // background-position: center;
  // background-size: cover;

  h2, h3 {
    margin: 7px 0 8px;
    color: fade(#fff, 50%);
    border-color: fade(#fff, 50%);
  }

  p {
    font-size: 30px;
    opacity: 0.5;
    margin-top: -5px;
  }

  a {

  }

}
