<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>about</h2>
      <p>The architecture society is a course based society within Northumbria students union. As a relatively new society we are always open to new suggestions and ideas from our members, your input will help the society to continually grow and improve.</p>

      <p>The society was founded in 2007 as ArchSoc and the first website created in 2011.</p>

      <p>In 2011, the society also established an Article25 student chapter for Northumbria University which focuses on disaster relief. Please see our Article 25 Page for more information.</p>

      <p>In 2014 the society was rebranded as NAS (Northumbria Architecture Society)</p>
    </div> <!-- .col -->
    <div class="col-sm-offset-1 col-sm-3">
      <h2>committee</h2>
      <p>Title - Name Surname</p>
      <p>Title - Name Surname</p>
      <p>Title - Name Surname</p>
      <p>Title - Name Surname</p>
      <p>Title - Name Surname</p>
    </div> <!-- .col -->
    <div class="col-sm-offset-1 col-sm-3">
      <h2>contact</h2>
      <p>Please feel free to get in touch if you have any questions, suggestions or ideas for the Architecture Society.</p>

      <a href="mailto:info@northumbriaarchitecturesociety.co.uk">info@northumbriaarchitecturesociety.co.uk</a>

      President: Emma Jane Graham
    </div> <!-- .col -->
  </div> <!-- .row -->
</div> <!-- .container -->
